/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    background-color: #e8e8e8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    margin: 125px auto;
    max-width: 845px;
}

.first-block,
.second-block,
.btn-block,
.input-block,
p {
    margin-bottom: 80px;
}

.first-block-text {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

li {
    color: #273d46;
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    background: url("check.png") left no-repeat;
    padding-left: 30px;
}

.list li:first-child {
    text-decoration: line-through;
}
.list li:nth-child(2){
    font-size: 20px;
}
.list li:nth-child(3){
    font-style: italic;
}
.list li:last-child {
    text-transform: uppercase;
}

.list-hover li:nth-child(2):hover {
    color: #d55a5a;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #80b7b3;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.btn:hover {
    background-color: #3a5856;
}
.btn:active {
    background-color: #818181;
}

.btn span {
    padding: 0px 30px 0px 0px;
    background: url('arrow.svg') right no-repeat;
}

.input-form {
    padding: 10px;
    border: .5px solid #b0b0b0;
}
.input-form:focus {
    box-shadow: 0 0 20px #80b7b3;
}

p {
    font-size: 18px;
    line-height: 1.2;
}

.first-text:first-line,
.second-text:first-letter {
    color: #f00;
}
